<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>メモアプリ</title>
  </head>
  <body>
    <div class="top-container">
      <h1>メモアプリ</h1>
      <%= yield %>
    </div>
  </body>
</html>
