<h2>メモ新規作成</h2>
<section class="memo-content">
  <form method="post" action="/memos">
    <input class="text-title" type="text" name="memo_title" placeholder="タイトルを入力">
    <textarea id="memo" name="memo_content" cols="50" rows="20" placeholder="メモを入力"></textarea>
    <input type="submit" value="保存する">
  </form>
  <a href='/'>トップへ戻る</a>
</section>
