<h2>メモ表示</h2>
<section class="memo-display">
  <p>タイトル：<%= h(@title) %><br></p>
  <p>内容</p>
  <textarea disabled cols="50" rows="20"><%= h(@memo_content) %></textarea>
</section>

<form method="post" action="/del/<%= @id %>">
  <input class="del-btn" type="submit" value="削除">
  <input type="hidden" name="_method" value="delete">
</form>

<form method="get" action="/edit/<%= @id %>">
  <input class="change-btn" type="submit" value="変更">
</form>

<a href='/'>トップへ戻る</a>
